body {
    background-image: 
    url("../images/northern-lights.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

.total-spacing {
    display:block;
    margin: 0 auto;
    max-width: 1000px;
    min-width: 1000px;
    min-height: 1800px;
}

.weather-forecast {
padding:30px;
background-color:rgba(156, 123, 248, 0.2);
font-family: 'Pacifico', cursive;
color:rgba(144, 186, 248, 0.8);
border:none;
border-radius: 50px;
}

.weather-forecast:hover {
    cursor: pointer;
}

h1 {
    padding: 200px 30px 50px;
    color: rgba(144, 186, 248, 0.8);
    text-align: center;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    position: relative;
    right:150px;
}


@media (max-width: 470px) {

h1 {
    color: rgba(144, 186, 248, 0.8);
    font-size: 50px;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

.total-spacing {
    display:block;
    margin: 0 auto;
    min-width: 800px;
    min-height: 1300px;
}

.weather-forecast {
padding:20px;
background-color:rgba(156, 123, 248, 0.2);
font-family: 'Pacifico', cursive;
color:rgba(144, 186, 248, 0.8);
border:none;
border-radius: 50px;
}

.weather-forecast:hover {
    cursor: pointer;
}
}