body {
    background-image: 
    url("../images/northern-lights.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}


h1 {
    padding: 2em 0em 1em;
    color: rgba(144, 186, 248, 0.8);
    text-align: center;
    font-size: 3em;
    font-family: 'Pacifico', cursive;
}
form {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}
a {
    text-decoration: none;
    color:inherit;
}

.wrapper {
    display:block;
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
}

.weather-forecast {
padding:30px;
background-color:rgba(156, 123, 248, 0.2);
font-family: 'Pacifico', cursive;
color:rgba(144, 186, 248, 0.8);
border:none;
border-radius: 50px;
}

.weather-forecast:hover {
    cursor: pointer;
}

.form {
    display: block;
    text-align: center;
    width: 100%;
}

.input-group {
 width: 30em;

}

.card {
    display:block;
    margin:0 auto;
    background-color: rgba(248, 206, 248, 0.2);
    width: 30em;
    height: 25em;
}

.name-of-place { 
    padding: 0.5em;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}

.description-aurora {
    padding: 0.5em;
    font-size: 1.5em;
    font-family: 'Courier New', Courier, monospace;
}

.div-noaa {
    display:block;
    margin:0 auto;
    width:30%;
    padding-top: 10em;
}
.forecast-link{
text-align: center;
color: rgb(144, 186, 248);
padding:1em;
font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 470px) {

h1 {
    color: rgba(144, 186, 248, 0.8);
    font-size: 2.5em;
    text-align: center;
    font-family: 'Pacifico', cursive;
}

a {
    text-decoration: none;
    color:inherit;
}

form {
    margin-bottom: 1em;
}

.wrapper {
    display:block;
    margin: 0 auto;
    min-width: 100%;
    min-height: 100%;
}

.input-group {
    width: 100%;
}

.weather-forecast {
padding:20px;
background-color:rgba(156, 123, 248, 0.2);
font-family: 'Pacifico', cursive;
color:rgba(144, 186, 248, 0.8);
border:none;
border-radius: 50px;
}

.weather-forecast:hover {
    cursor: pointer;
}

.card {
    display:block;
    margin:0 auto;
    background-color: rgba(248, 206, 248, 0.2);
    width: 18em;
    height: 15em;
}

#name-of-place { 
    padding: 0.5em;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}

#description-aurora {
    padding: 0.5em;
    font-size: 1em;
    font-family: 'Courier New', Courier, monospace;
}

.div-noaa {
    padding-top: 3em;
}

.forecast-link{
color: rgb(144, 186, 248);
font-size: 0.5em;
}

}