body {
    background-image: 
    url("../images/northern-lights.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

h1 {
    padding: 200px 30px 50px;
    color: rgba(144, 186, 248, 0.8);
    text-align: center;
    font-size: 50px;
    font-family: 'Pacifico', cursive;
    position: relative;
    right:150px;
}